body {
  background-image: url('images/FONDOS/Ado19.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

* {
  color: black;
  text-shadow:
    -1.5px -1.5px 0 white,
     1.5px -1.5px 0 white,
    -1.5px  1.5px 0 white,
     1.5px  1.5px 0 white;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: Castellar;
  margin-top: 20px;
  margin-bottom: 30px;

  color: black;
  
  text-shadow:
    -3px -3px 0 white,
     3px -3px 0 white,
    -3px  3px 0 white,
     3px  3px 0 white,
     8px 8px 20px darkblue;
}

p {
  white-space: pre-line;
  text-align: right;
  font-size: 20px;
  font-family: Verdana;
  margin: 0;

  animation: slideRight 1.2s ease-out forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* CUADRO AJUSTADO AL TEXTO */
.cuadro {
  display: inline-block;
  border: 3px solid white;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-left: auto;
  margin-right: 50px;
  text-align: right;
  max-width: 500px;
  width: fit-content;
}

/* MENÚ */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
  margin-top: 40px;
}

.link-box {
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  width: 250px;
  text-align: right;
  border: 3px solid white;
  background-color: rgba(0,0,0,0.3);

  transition: transform 0.25s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.link-box a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  display: block;
  text-align: center;
}

/* COLORES */
.box1 { background-color: #000000; }
.box2 { background-color: #000043; }
.box3 { background-color: #000a75; }
.box4 { background-color: #2c00cb; }
.box5 { background-color: #ffffff; }

/* SOMBRAS OPUESTAS */
.box1:hover { box-shadow: 0 0 20px 5px white; }
.box2:hover { box-shadow: 0 0 20px 5px #2c00cb; }
.box3:hover { box-shadow: 0 0 20px 5px #000a75; }
.box4:hover { box-shadow: 0 0 20px 5px #000043; }
.box5:hover { box-shadow: 0 0 20px 5px black; }

/* LEVITACIÓN */
.link-box:hover {
  transform: translateY(-10px);
}

footer.footer {
    background-color: #2e2e2e; /* Cambia el color si quieres */
    padding: 20px;
    margin-top: 40px;
    border-radius: 12px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-img {
    width: 90px;
    height: auto;
    border-radius: 10px;
}

.footer-text p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-text a {
    color: #7e8bff;
    font-weight: bold;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}
